@font-face {
  font-family: "Helvetica";
  src: url("../Fonts/HelveticaNeueLTStd-Cn_1.woff2") format("woff2"),
    url("../Fonts/HelveticaNeueLTStd-Cn_1.woff2") format("woff");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

#container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 10px;
}
body {
  position: relative;
  background-image: url(../images/bgsmall1.jpg);
}
.main {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}
#slide2 {
  display: block;
  /* display: none; */
}
#festive {
  width: 100%;
  display: flex;
  margin: auto;
  max-width: 300px;
}
#logo {
  width: 20%;
  display: none;
  display: block;
  margin-top: 20px;
}
#imgContainer {
  width: 30%;
  text-align: center;
}
#wishlist {
  font-size: 35px;
  padding-left: 20px;
  color: #005f9c;
  font-weight: bold;
}
#slogan {
  /* display: none; */
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #005f9c;
}
.submitContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#submit {
  margin-top: 10px;
  height: 55px;
  background-color: #e6e5d7;
  width: 60%;
  border: 2px;
  font-size: 28px;
  border-color: #e6e5d7;
  border-radius: 5px;
}
.menu-btn {
  outline: none;
  z-index: 2;
  background-color: #5293c7;
  border-color: #5293c7;
  border: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 16px;
  font-size: 28px;
  height: 50px;
  border-radius: 5px;
  width: 480px;
}
.dropdown-menu {
  margin-top: 20px;
  display: inline-block;
}
.middle {
  margin-right: auto;
  margin-left: 30px;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-content {
  padding: 15px 30px;
  display: block;
  width: 420px;
  border-radius: 5px 5px 0 0;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}
.links {
  color: black;
  padding: 8px 8px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #e6e5d7;
}
.links:hover {
  /* background-color: #d1d1d1; */
  border-radius: 5px;
  /* animation: fadein 1s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s; */
}

.regular-checkbox {
  outline: none;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  float: left;
  margin-right: 20px;
}
.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
  padding: 1px 4px 1px 4px;
}
.regular-checkbox:checked:after {
  content: "\2714";
  color: #99a1a7;
}
.arrow1 {
  width: 80%;
  display: block;
  z-index: 3;
}
.jeweleryimg {
  display: none;
  position: absolute;
  top: 65%;
  width: 10%;
  right: 2%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.fridgeimg {
  display: none;
  position: absolute;
  bottom: 5%;
  width: 9%;
  left: 8%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.homeimg {
  display: none;
  position: absolute;
  top: 42%;
  width: 10%;
  right: 2%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.healthimg {
  display: none;
  position: absolute;
  top: 50%;
  width: 7%;
  right: 15%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.businessimg {
  display: none;
  position: absolute;
  bottom: 18%;
  left: 22%;
  width: 13%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.vehicleimg {
  display: none;
  position: absolute;
  width: 18%;
  left: 8%;
  top: 56%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.laptopimg {
  display: none;
  position: absolute;
  right: 14%;
  width: 9%;
  top: 24%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.phoneimg {
  display: none;
  position: absolute;
  right: 2%;
  width: 9%;
  top: 18%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.renovateimg {
  display: none;
  position: absolute;
  top: 77%;
  right: 12%;
  width: 10%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
.wardrobeimg {
  display: none;
  position: absolute;
  bottom: 0%;
  width: 9%;
  left: 22%;
  animation: fadein 0.8s;
  -moz-animation: fadein 0.8s;
  -webkit-animation: fadein 0.8s;
  -o-animation: fadein 0.8s;
}
#thankContainer {
  display: none;
  /* display: block; */
  color: #000;
  width: 100%;
  text-align: center;
  font-size: 25px;
  background-color: #eceec0;
  border-radius: 200px 0px 200px 0px;
  margin-top: 50px;
  padding: 0px 0px 100px 0px;
  margin-left: 50px;
}
#thankyou {
  margin-top: 40px;
  font-size: 70px;
  width: 45%;
}
#line1 {
  margin-top: 40px;
  font-size: 50px;
}
#line2 {
  font-size: 50px;
}
#hdfcLogo {
  width: 15%;
  display: flex;
  float: right;
}
.hdfclogocontainer {
  overflow: hidden;
  margin-bottom: 50px;
}

/* Animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
