@font-face {
font-family: "Helvetica";
src: url("../Fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"),
url("../Fonts/HelveticaNeueLTStd-Cn.woff") format("woff");
}
* {margin: 0;padding: 0;font-family: "Helvetica"; box-sizing: border-box;}
html,body {height: auto;min-height: 100%;}
#container {max-width: 1200px;margin: auto;padding: 0 0; position: relative;}
body {position: relative;background-image: url(../images/bgsmall1.jpg);}
.main {flex-direction: row;display: flex;justify-content: space-around;align-items: flex-start;padding: 0 0;}
.hdfcHeaderLogoContainer {width: 100%;display: flex;justify-content: center;align-items: center;}
.hdfcHeaderLogo {width: 100%;margin-bottom: 20px;}
#slide2 {display: flex;width: 100%;justify-content: center;align-items: center;}
#festive {margin: auto;max-width: 300px;}
#logo {width: 20%;display: none;margin-top: 20px;}
#mobileLogo {display: none;}
#imgContainer {display: flex;justify-content: center;align-items: center;flex-direction: column;}
#wishlist {text-transform: uppercase;font-size: 33px;color: #005f9c;font-weight: bold;}
#possible {text-transform: uppercase;font-size: 33px;color: #005f9c;font-weight: bold;letter-spacing: 2.5px;}
#slogan {text-align: center;font-size: 36px;color: #005f9c;}
.submitContainer {width: 100%;margin: auto;display: flex;justify-content: center;align-items: center;}
#submit {margin-top: 10px;height: 55px;background-color: #dbdbd7;width: 60%;border: 2px;font-size: 28px;color: #004068;border-color: #a5a5a5;border-radius: 5px;}
#submit:disabled,button[disabled] {background-color: #dbdbd7;border-color: #9e9e9e;color: #5293c7;}
.menu-btn {outline: none;z-index: 2;background-color: #5293c7;border-color: #5293c7;border: 5px;display: flex;justify-content: center;align-items: center;color: white;padding: 16px;font-size: 28px;height: 50px;border-radius:0px 0px 5px 5px;width: 450px;}
.dropdown-menu {margin-top: 10px;display: inline-block;}
.menu-content {padding: 15px 30px;display: block;border-radius: 5px 5px 0 0;background-color: white;min-width: 160px;z-index: 1;}
.links {color: black;padding: 8px 8px;border-radius: 5px;text-decoration: none;display: flex;  align-items: center;justify-content: flex-start;font-size: 18px;border-bottom: 1px solid #e6e5d7; margin-bottom: 5px;}
.links:hover {border-radius: 5px;}
.regular-checkbox {display: flex;justify-content: center;align-items: center;outline: none;-webkit-appearance: none;background-color: #fafafa;border: 1px solid #cacece;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 10px;border-radius: 3px;float: left;margin-right: 20px; position: relative;}
.regular-checkbox:active,.regular-checkbox:checked:active {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px 1px 3px rgba(0, 0, 0, 0.1);}
.regular-checkbox:checked {background-color: #e9ecee;border: 1px solid #adb8c0;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #99a1a7;padding: 10px;}
.regular-checkbox:checked:after {content: "";display: inline-block;transform: rotate(45deg);height: 9px;width: 4px;border-bottom: 3px solid #99a1a7;border-right: 3px solid #99a1a7;margin-top: 0;position: absolute;    top: 3px;    left: 0px;right: 0;margin: auto;}
.arrow1 {width: 80%;display: block;z-index: 3;}
.icon_wishlist{ display: none; position: absolute;animation: fadein 0.8s;}
.jeweleryimg {top: 60%;width: 8%;right: 0%;}
.fridgeimg {bottom: 16%;width: 8%;left: 3%;}
.homeimg {top: 41%;width: 8%;right: 0;}
.healthimg {top: 72%;width: 7%;left: 40%;}
.businessimg {bottom: 17%;left: 28%;width: 8%;}
.vehicleimg {width: 10%;left: 31%;top: 54%;}
.bikeimg {width: 10%;left:40%;top: 46%;}
.laptopimg {left: 39%;width: 9%;top: 24%;}
.phoneimg {right: 0%;width: 9%;top: 18%;}
.renovateimg {top: 77%;right: 0;width: 8%;}
.wardrobeimg {bottom: 2%;width: 9%;left: 16%;}

.washing {height: 23px;width: 23px;}
#thankContainer {display: none;color: #000;width: 95%;text-align: center;font-size: 25px;background-color: #eceec0;border-radius: 200px 0px 200px 0px;padding: 120px 0px 120px 0px;margin-left: 50px;justify-content: center;align-items: center;}
#thankContainer.flex{ display: flex;}
#thankyou {margin-top: 40px;font-size: 70px;width: 45%;}
.thankyouPage {display: none;flex-direction: column;align-items: flex-end;}
#line1 {margin-top: 40px;font-size: 40px;}
#line2 {font-size: 40px;}
#hdfcLogo {width: 30%;margin-top: 20px;display: none;visibility: hidden;}
.hdfclogocontainer {overflow: hidden;margin-bottom: 50px;}

/* Animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (max-width : 1200px){

.hdfcHeaderLogo {margin-bottom: 1.667vw;}
#festive {max-width: 25vw;}
#wishlist {font-size: 2.750vw;}
#possible {font-size: 2.750vw;letter-spacing: 0.208vw;}
#slogan {font-size: 3vw;}

#submit {margin-top: 0.833vw;height: 4.583vw;border: 0.167vw;font-size: 2.333vw;border-radius: 0.417vw;}
.menu-btn {border: 0.417vw;padding: 1.333vw;font-size: 2.333vw;height: 4.167vw;border-radius:0px 0px 0.417vw 0.417vw;width: 37.500vw;}
.dropdown-menu {margin-top: 0.833vw;}
.menu-content {padding: 1.250vw 2.500vw;border-radius: 0.417vw 0.417vw 0 0;min-width: 13.333vw;}
.links {padding: 0.667vw 0.667vw;border-radius: 0.417vw;font-size: 1.500vw;}
.links:hover {border-radius: 0.417vw;}
.regular-checkbox {padding: 10px;border-radius: 0.250vw;margin-right: 1.667vw;}
.regular-checkbox:checked {padding: 8px;}
.regular-checkbox:checked:after {border-bottom: 3px solid #99a1a7;border-right: 3px solid #99a1a7;    top: 1px;}
.arrow1 {width: 80%;}
.jeweleryimg {top: 60%;width: 8%;right: 0%;}
.fridgeimg {bottom: 16%;width: 8%;left: 3%;}
.homeimg {top: 41%;width: 8%;right: 0;}
.healthimg {top: 72%;width: 7%;left: 40%;}
.businessimg {bottom: 17%;left: 28%;width: 8%;}
.vehicleimg {width: 10%;left: 31%;top: 54%;}
.bikeimg {width: 10%;left:40%;top: 46%;}
.laptopimg {left: 39%;width: 9%;top: 24%;}
.phoneimg {right: 0%;width: 9%;top: 18%;}
.renovateimg {top: 77%;right: 0;width: 8%;}
.wardrobeimg {bottom: 2%;width: 9%;left: 16%;}
.washing {height: 1.917vw;width: 1.917vw;}
#thankContainer {width: 95%;font-size: 2.083vw;border-radius: 16.667vw 0px 16.667vw 0px;padding: 10vw 0px 10vw 0px;margin-left: 4.167vw;}
#thankyou {margin-top: 3.333vw;font-size: 5.833vw;width: 45%;}
#line1 {margin-top: 3.333vw;font-size: 3.333vw;}
#line2 {font-size: 3.333vw;}
#hdfcLogo {width: 30%;margin-top: 1.667vw;}
.hdfclogocontainer {margin-bottom: 4.167vw;}

}
@media screen and (max-width : 600px){
.main{flex-direction: column;align-items: center;}  
#festive {max-width: 35vw;}
#wishlist {font-size: 5vw;}
#possible {font-size: 5vw;letter-spacing: 0.208vw;}
.middle{ width: 65vw; margin:15px auto 0;}
#slogan {font-size: 5vw;}
.menu-btn{ width: 100%;border: 5px;padding: 5px;font-size: 16px;height: 30px;border-radius: 0px 0px 5px 5px;}
.confirm_wishlist{ display: block; width: 100%;}
.dropdown-menu{ display: block;}
.menu-content {padding: 8px;border-radius: 5px 5px 0 0;min-width:auto;}

.links {padding: 4px;border-radius: 0;font-size: 14px;}
.links:last-child{ margin-bottom: 0;}
.regular-checkbox {padding: 8px;border-radius: 2px;margin-right: 10px;}
.vehicleimg {width: 25%;left: 11%;top: 17%;}
.bikeimg {width: 25%;left: 4%;top: 6%;}
.laptopimg {left: 19%;width: 17%;top: 28%;}
.fridgeimg {top: 29%;bottom: auto;width: 18%;left: 1%;}
.businessimg {bottom: auto;left: 0%;width: 18%;top: 47%;}
.wardrobeimg {bottom: auto;width: 22%;left: -4%;top: 71%;}
.phoneimg {right: 9%;width: 24%;top: 5%;}
.homeimg {top: 17%;width: 23%;right: 1%;}
.jeweleryimg {top: 48%;width: 16%;right: 1%;}
.renovateimg {top: 28%;right: 1%;width: 25%;}
.healthimg {top: 72%;width: 16%;left: 83%;}
#submit {margin-top: 10px;height: 30px;border: 1px;font-size: 18px;border-radius: 5px;width: 100%;}
.regular-checkbox:checked:after {top: 1px;}
.thankyouPage{ width: 95%;}
#thankyou {margin-top: 4.333vw;font-size: 7.833vw;width: 100%;}
#line1 {margin-top: 4.333vw;font-size: 4.333vw;}
#line2 {font-size: 4.333vw;}
#thankContainer {width: 95%;border-radius: 16.667vw 0px 16.667vw 0px;padding: 10vw 0px 10vw 0px;margin:40px auto 0;}
}